@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.general-container {
    display: inline;
    justify-content: space-around;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    padding-inline-end: 14.9rem;
    padding-inline-start: 14.9rem;
}

nav {
    display: flex;
    
}

/* .logo {
    
} */

nav a {
    padding: 1.5rem; 
    color: gray;
    text-decoration: none;
}

nav a:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.second-grid {
    background: hsl(240, 100%, 5%);
    color: hsl(236, 13%, 42%);
    margin-left: -10px;
    height: 450px;
    padding: 1.3rem;
    margin-top: -2rem;
    
}

h3 {
    color: white;
}

h3:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.new {
    color: hsl(35, 77%, 62%);
}

.fourth-grid-baby a {
    background: black;
    color: white;
    text-decoration: none;
    display: grid;
    justify-content: center;
    margin-right: 13rem;
    padding: 0.6rem;
    margin-top: 1.8rem;
}

.fourth-grid p {
    color: gray;

}

.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr ; */
}

.first-grid img {
    width: 750px;
    margin-left: 14.9rem;
    margin-right: 30px;
    margin-top: -2rem;
    height: 250px;
}

.first-and-second-grid {
    display: flex;
}

.third-grid {
    width: 445px;
    padding-right: 1rem;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.third-and-fourth-grid {
    display: flex;
    position: absolute;
    margin-top: 15rem;
    margin-left: 14rem;

}

.fourth-grid {
    width: 425px;
    padding-left: 2rem;
    margin-left: -5rem;
}

.fourth-grid-baby a:hover {
    background-color: hsl(5, 85%, 63%);
}

.attribution {
    margin-top: 1rem;
    font-style: italic;
}

.last-div {
    display: flex;
    margin-top: 2rem;
    margin-left: 14rem;
    padding: 1rem;
}



.last-div-one {
    display: flex;
}

.last-div-one .image-div img {
    height: 140px;
    margin: 1rem;
    width: 100px;
}

#last-div-one {
    margin-left: -1rem;
}

#last-div-two {
    margin-left: 1.8rem;
}

#last-div-three {
    margin-left: 4rem;
}

.info-div {
    margin-top: 1rem;
}

.info-div .number {
    color: hsl(233, 8%, 79%);
    font-size: 30px;
    font-weight: bolder;
}

.info-div .text {
    color: gray;

}

.info-div h4:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}